* {
    list-style-type: none;
}

.container {
    list-style-type: none;
    width: 200px;
    font-family: 'Poppins';
}

h1 {
    font-family: 'Poppins';
    color: white;
}

.container h1 {
    margin: 1rem;
    margin-left: 0;
    font-family: 'Poppins';
    color: white;
    font-style: 20px;
    line-height: 1;
    
}

.hero l1 {
    margin: 1rem;
    margin-left: 0;
    font-family: 'Poppins';
    color: white;
}

.select-box1 {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Poppins';

}

.select-box2 {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
    font-family: 'Poppins';
}

.selected1 {
    position: relative;
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 10px;
    color: #f6f6ff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 24px;
    font-family: 'Poppins';
}

.selected1::placeholder {
    color: #c2c1cd;
    font-weight: 600;
}

.selected2 {
    position: relative;
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 10px;
    color: #f6f6ff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 24px;
}

.selected2::placeholder {
    color: #c2c1cd;
    font-weight: 600;
}

.input-container1 {
    position: relative;
}

.options-container1 {
background: #293a4e;
color: #f6f6ff;
width: 100%;
transition: all 0.5s;
border-radius: 8px;
overflow: hidden;
opacity: 0;
max-height: 0;
}

.options-container1.active {
max-height: 240px;
border: 1px solid #293a4e;
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
opacity: 1;
overflow-y: scroll;
}

.options-container1::-webkit-scrollbar {
width: 8px;
background: #c6cdc0;
border-radius: 0 8px 8px 0;
}

.options-container1::-webkit-scrollbar-thumb {
background: #016960;
border-radius: 0 8px 8px 0;
}

.input-container2 {
    position: relative;
}
    
.options-container2 {
background: #293a4e;
color: #f6f6ff;
width: 100%;
transition: all 0.5s;
border-radius: 8px;
overflow: hidden;
opacity: 0;
max-height: 0;
}

.options-container2.active {
max-height: 240px;
border: 1px solid #293a4e;
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
opacity: 1;
overflow-y: scroll;
}

.options-container2::-webkit-scrollbar {
width: 8px;
background: #c6cdc0;
border-radius: 0 8px 8px 0;
}

.options-container2::-webkit-scrollbar-thumb {
background: #016960;
border-radius: 0 8px 8px 0;
}

.option {
padding: 12px 24px;
cursor: pointer;
}

.option:hover {
background: #f6f6ff;
color: #293a4e;
}
