@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

main{
  display: flex;
}
.left-main{
  height: 550px;
  /* background-color: lightpink; */
  width: 300px;
  margin-left: 40px;
  flex-direction: column;
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  justify-content: center;
}

.queue{
  font-size: 60px;
  font-family: 'Glacial Indifference';
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.history-section{
  background-color: white;
  position: relative;
  width: 200px;
  height: 255px;
  margin: 20px 70px;
  border-radius: 40px;
}
.history-text{
  height: 30px;
  width: 120px;
  background-color: #5f58a2;
  position: fixed;
  color: white;
  top: -15px;
  left: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-history{
  text-align: center;
  font-family:'Work Sans';
  font-weight: bold;
}
.containers {
  margin-left: 20px;
  display: flex;                /* Arrange items in a row */
  overflow-x: auto;            /* Enable horizontal scrolling */
  white-space: nowrap;         /* Prevent items from wrapping */
  padding: 10px;               /* Optional: add some padding */
}

.right-main{
  flex: 1;
  /* background-color: lightblue; */
  margin-left: 50px;
  margin-right: 100px;
  max-width: 1000px;
  margin-top: 50px;
}
.queue-section{
  display: flex;
  justify-content: center; 
  column-gap: 15px;
  margin-top: 30px;
  margin-bottom: 80px;
}
.queue-containers{
  width: 35px;
  height: 200px;
  background-color: #00bf63;
}
.button-input-section{
  margin: 0;
}

.input-section{
  margin: 10px 50px;
  padding-right: 15px;
  padding-left: 0;
  margin-top: 200px
}
.input-container{
  margin-bottom: 12px;
}
input{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 0 solid transparent;
  
}

input::placeholder{
  text-align: center;
  font-family: 'Poppins';
  font-weight: bold;
}
.buttons-container{
  display: grid;
  justify-content: space-between;
}
.add{
  background-color: #00bf63;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  border: 0 solid transparent;
  border-radius: 18px;
  padding: 1px 10px;
}
.delete{
  background-color: red;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  border: 0 solid transparent;
  border-radius: 18px;
  padding: 1px 10px;
}

.inside-buttons{
  display: grid;
  grid-template-columns: 10px 1fr;
  column-gap: 5px;
  margin: 3px;
  /* padding: 0; */
  align-items: center;
  
}
.inside-buttons p{
  margin: 0;
  line-height: 15px;
}
nav {
  background: #545454;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-family: 'Work Sans';
  font-weight: bold;
  padding: 0 10px; 
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%; 
  z-index: 1000;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

nav ul li a {
  color: #ffffff; 
}

a {
  text-decoration: none;
  color: #fdfdfd; 
  border: 2px solid transparent; 
  border-radius: 20px;
  padding: 5px 15px;
  transition: all 0.3s ease;
  display: inline-block; 
}

a:hover {
  background-color: white; 
  color:  #00bf63; 
}

a.hlght{
  background-color: #00bf63; 
  color: white;
}

.logo-img {
  width: 45px; 
  height: 30px;
  vertical-align: middle; 
  margin-bottom: 2px; 
  margin-right: 50px;
}