@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

.hero {
    color: white;
    padding: 20px 40px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.right-content {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column; 
}

.heading{
    max-width: 600x; 
    flex-direction: column; 
    display: flex;
    justify-content: flex-start;
    line-height: 1;
    margin-right: 200px;
    margin-top:100px;
}

.heading h1{
    font-size: 160px;
    margin: 0;
    font-family: 'Poppins';
    color: #00bf63;
}

.heading h2, .heading h3{
    font-size: 40px;
    margin: 0;
    font-family: 'Work Sans';
    color: white;
}

.hero ul li {
    list-style: none;
    line-height: 7;
    margin-right: 70px;
}

.hero ul li a{
    border: 2px solid transparent;
}

nav {
    background: #545454;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: 'Work Sans';
    font-weight: bold;
    padding: 0 10px; 
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%; 
    z-index: 1000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: #ffffff; 
}

a {
    text-decoration: none;
    color: #fdfdfd; 
    border: 2px solid transparent; 
    border-radius: 20px;
    padding: 5px 15px;
    transition: all 0.3s ease;
    display: inline-block; 
}

a:hover {
    background-color: white; 
    color:  #00bf63; 
}

a.hlght{
    background-color: #00bf63; 
    color: white;
}

.logo-img {
    width: 45px; 
    height: 30px;
    vertical-align: middle; 
    margin-bottom: 2px; 
    margin-right: 50px;
}

.container {
    width: 300px;
    align-items: center;
    border: solid transparent;
    border-radius: 8px;
    position: relative;
    background-color: solid transparent;
}
  
.content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
  
.item {
    margin-top: 5px;
    margin-left: 27px;
    font-family: 'Poppins';
    font-size: 60px;
    line-height: 0.75;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
  
.item a {
    text-decoration: none;
    color: #545454; 
    transition: all 0.3s ease;
    font-weight: bold;
    flex-direction: column;
}
  
.item a:hover {
    color: white;
    background-color: transparent;
}
  
.arrow {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}
  
.arrow:disabled {
    color: #545454;
    cursor: not-allowed;
}
  
.item .message {
    position: absolute; 
    top: 400px;
    right: 550px;
    background-color: solid transparent;
    color: white;
    text-align: left;
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden;
    visibility: hidden; 
} 

.item:hover .message{
    visibility: visible;
    opacity: 1;
}

.item:hover a {
    color: white;
}
  
.item .circle-display {
    position: absolute;
    top: 493px; 
    left: 61%; 
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: white;
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0.5s ease;
}
  
.item:hover .circle-display {
    display: block;
    height: 50px;
    opacity: 1;
}
  
.shape-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s;
}
  
.item:hover .shape-container {
    opacity: 1;
    visibility: visible;
}
  
.shape {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
}
  
.shape.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9 {
    border-radius: 50%;
    background-color: white;
}
.shape.circle1 {
    position: absolute; 
    top: 393px;
    right: 450px;
}

.shape.circle2 {
    position: relative; 
    transform: translateX(-270px);

}

.shape.circle3 {
    position: relative; 
    transform: translateX(-263px);
}

.shape.circle4 {
    position: relative; 
    transform: translateX(-253px);
}

.shape.circle5 {
    position: relative; 
    transform: translateX(-263px);
}
.shape.circle6 {
    position: relative; 
    transform: translateX(-216px);
}

.shape.circle7 {
    position: relative; 
    transform: translateX(-296px);
}

.shape.circle8 {
    position: relative; 
    transform: translateX(-296px);
}

.shape.circle9 {
    position: relative; 
    transform: translateX(-295px);
}

  