<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../static/CSS/genaboutus.css">
    <style>
        body {
            font-family: 'Poppins';
            color: #ffffff; 
            background-image: url("{{ url_for('static', filename='background/babymen.png') }}");
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            padding-top: 40px;
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <br>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/works" >LIBRARY</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
            <div>
                <a href="/aboutus" class="hlght">ABOUT US</a>
                <img class="logo-img" src="{{ url_for('static', filename='images/Logo1.png') }}">
            </div>
        </nav>
        <div class="profile-container">
            <div class="team-member">
             <img src="{{ url_for('static', filename='images/Plale.jpg') }}" alt="Leader">

            </div>

            <div class="text-container">
              <h2>JOHN MICHAEL PLALE</h2>
          
              <div class="profile-info">
                <div><strong>Hobbies:</strong> Playing Mobile Games, Solving Puzzles, and Watching Sports</div>
            <div><strong>Address:</strong> Quezon City, Metro Manila</div>
            <div><strong>Likes:</strong> Any Fruits, Chocolates, Chicken Mushroom</div>
            <div><strong>Dislikes:</strong> People that are rude and lacks respect</div>
            <div><strong>Contact #:</strong> 09630113314</div><br>
            <div><center>"Don't stop when you're tired, stop when you're done"</center></div><br><br><br>
            
              </div>
            </div>
          </div>
            
                <div class="link-div">
                    <div class="facebook"><a href="https://web.facebook.com/johnmichael.plale" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook Logo">Facebook Profile</a></div>
                    <div class="github"><a href="https://github.com/jmplale" target="_blank"><img src="{{ url_for('static', filename='images/git.png') }}" alt="GitHub Logo">GitHub Profile</a></div>
                </div>
        </div><br>

        <footer>
            <div class="back-link">
                <a href="/aboutus" target="_self">Back to About Us</a>
            </div>
        </footer>
    </main>
</body>
</html>