<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../static/CSS/genaboutus.css">
    <style>
        body {
            font-family: 'Poppins';
            color: #ffffff; 
            background-image: url("{{ url_for('static', filename='background/babymen.png') }}");
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            padding-top: 40px;
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <br>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/works" >LIBRARY</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
            <div>
                <a href="/aboutus" class="hlght">ABOUT US</a>
                <img class="logo-img" src="{{ url_for('static', filename='images/Logo1.png') }}">
            </div>
        </nav>
        <div class="profile-container">
            <div class="team-member">
             <img src="{{ url_for('static', filename='images/Braganza.png') }}" alt="Leader">

            </div>

            <div class="text-container">
              <h2>JOSHUA BRAGANZA</h2>
          
              <div class="profile-info">
                <div><strong>Hobbies:</strong> Playing League of Legends, Chess, and Cleaning</div>
                <div><strong>Address:</strong> Mangaldan, Pangasinan</div>
                <div><strong>Likes:</strong> Siya...Ayieeeee, Mango Graham Cake, Oreo Drink </div>
                <div><strong>Dislikes:</strong> Black Coffee, Oily Foods, League of Legends</div>
                <div><strong>Contact #:</strong> 09957710862</div><br>
                <div><center>"Pag Kaya nila, Ipagawa mo sa kanila"</center></div><br><br><br>
              </div>
            </div>
          </div>
            
                <div class="link-div">
                    <div class="facebook"><a href="https://www.facebook.com/share/18M923Mioe/?mibextid=wwXIfr" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook Logo">Facebook Profile</a></div>
                    <div class="github"><a href="https://github.com/juicyjuswa" target="_blank"><img src="{{ url_for('static', filename='images/git.png') }}" alt="GitHub Logo">GitHub Profile</a></div>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/joshua-braganza-057865334/" target="_blank"><img src="{{ url_for('static', filename='images/linked.png') }}" alt="LinkedIn Logo">LinkedIn Profile</a></div>
                    <div class="spotify"><a href="https://open.spotify.com/user/31ecxhvnugg6izy6aqrh4cfkxpmi?si=acab3fa9b4404f35" target="_blank"><img src="{{ url_for('static', filename='images/spotify.png') }}" alt="Spotify Logo">Spotify Profile</a></div>
        </div>
        </div><br>

        <footer>
            <div class="back-link">
                <a href="/aboutus" target="_self">Back to About Us</a>
            </div>
        </footer>
    </main>
</body>
</html>