<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="../static/CSS/genaboutus.css">
    <style>
        body {
            font-family: 'Poppins';
            color: #ffffff; 
            background-image: url("{{ url_for('static', filename='background/babymen.png') }}");
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            padding-top: 40px;
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <br>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/works" >LIBRARY</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
            <div>
                <a href="/aboutus" class="hlght">ABOUT US</a>
                <img class="logo-img" src="{{ url_for('static', filename='images/Logo1.png') }}">
            </div>
        </nav>
        <div class="profile-container">
            <div class="team-member">
             <img src="{{ url_for('static', filename='images/Valencia.png') }}" alt="Leader">

            </div>

            <div class="text-container">
              <h2>ZURIEL ELIJAH VALENCIA</h2>
          
              <div class="profile-info">
                <div><strong>Hobbies:</strong> Video games, Basketball, Chess</div>
                <div><strong>Address:</strong> San Pedro, Laguna</div>
                <div><strong>Likes:</strong> Foods, Chocolate Drinks, Good Listener</div>
                <div><strong>Dislikes:</strong> Matcha, Exotic Foods, Bossy</div>
                <div><strong>Contact #:</strong> 09059634553</div><br>
                <div><center>"Happy Go Lucky"</center></div><br><br><br>

              </div>
            </div>
          </div>
            
                <div class="link-div">
                    <div class="facebook"><a href="https://www.facebook.com/ValenciaZurielElijah?mibextid=ZbWKwL" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook Logo">Facebook Profile</a></div>
                </div>
        </div><br>

        <footer>
            <div class="back-link">
                <a href="/aboutus" target="_self">Back to About Us</a>
            </div>
        </footer>
    </main>
</body>
</html>