<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Hub</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
    <style>
    body {
        height: 100vh;
        background-image: url("{{ url_for('static', filename='background/background.png') }}");
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        padding-top: 50px;
    }
    </style>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href = "/">HOME</a></li>
                <li><a href = "/works" class = "hlght">LIBRARY</a></li>
                <li><a href = "/contactus">CONTACT US</a></li>
            </ul>
            <div>
                <a href = "/aboutus">ABOUT US</a>
                <img class = "logo-img"src="{{ url_for('static', filename='images/Logo1.png') }}"">
            </div>
        </nav>
    </div>
    
    <div class="hero">
        <div class="left-content">
            <div class="heading">
                <h1>WORKS</h1>
                <h2>This contains the works of the Matrix</h2>
                <h3>Visualize Data structure like babies.</h3>
            </div>
        </div>
        <div class = "right-content">
            <div class="container">
                <button class="arrow up" onclick="navigate(-1)">▲</button>
                <div class="content">
                    <div class="item">
                        <a href="/page1">Linked List</a>
                        <div class="square"></div> 
                    </div>
                </div>
                <button class="arrow down" onclick="navigate(1)">▼</button>
            </div>
            <script src="static/js/script.js"></script>
        </div>
    </div>

</body>
</html>
